@font-face {
  font-family: 'MyFont';
  src: url('kohinoor.ttf') format('opentype');
}

body {
  font-family: 'MyFont', sans-serif;
  margin: 0;
  padding: 0;
  background: #b195ab;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img_wrapper img {
  width: 182px;
}

img {
  width: 82%;
}

.wrapper {
  align-items: center;
  text-align: center;
}

button.yes_b {
  outline: none;
  border: none;
  padding: 6px 20px 6px 20px;
  font-size: 16px;
  font-family: 'MyFont';
  border-radius: 7px;
  cursor: pointer;
  margin-right: 30px;
  box-shadow: 0px 2px 10px #000000c7;
  transition: all 0.3s;
}

button.no_b {
  outline: none;
  border: none;
  padding: 6px 20px 6px 20px;
  font-size: 16px;
  font-family: 'MyFont';
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 2px 10px #000000c7;
  transition: all 0.3s;
}

.button_wrapper {
  margin-top: 20px;
}

button.yes_b:hover {
  transform: scale(1.07);
}

button.no_b:hover {
  transform: scale(1.07);
}

span {
  font-size: 20px;
  /* letter-spacing: -0.5px; */
  /* word-spacing: 4px; */
}
button.yes_b a {
  text-decoration: none;
  color: black;
}

button.no_b a {
  text-decoration: none;
  color: black;
}
h2.index_h2 {
  margin: 10px 12px 10px 12px;
}
.me {
  position: relative;
  margin-top: 30px;
}
.me span a {
  text-decoration: none;
  color: #760276;
}
.p2_h2 {
  font-size: 30px;
}

span.p2_span {
  font-size: 18px;
}
.me span a:hover {
  text-decoration: underline;
}
